extends layout

block content
  //script(src='/javascripts/facebook.js', type='text/javascript')
  fb:login-button(scope='public_profile,email',class="fblogin", onlogin='checkLoginState();')
  #status

  button#nextID You can now begin!

  ul#friendList
