extends layout

block content
  h3 Hi! It's
  h1 Tara
  section#facebookLogin
    fb:login-button(scope='public_profile,email',class="fblogin", onlogin='checkLoginState();')
    //button.buttonStyle login
  
  section.started
    p Are you excited?
    button#nextID.buttonStyle Get Started!

  section#profile
    p Who is the lucky person receiving the gift?

    .ui-widget
      input#searchID()
      button.buttonStyle#goButton(type="button",data-toggle="modal", data-target="#myModal") Go!

  #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
      .modal-content
        h2 Looking at their facebook recently, I think ...
        span#answer

